<%- include('../includes/header') %>

<link rel="stylesheet" href="../../assets/stylesheet/style.css">

</head>

<body>
    <%- include('../includes/navbar') %>
    <div class="container">
        <h2 class="text-center pt-4 pb-3">New Hotel Announcement</h2>
        <div class="card border-info mb-3">
            <div class="card-body">
                <% for(var i = 0; i < hotel.length; i++){ %>
                <div class="row">
                    <div class="col-md-2">
                        <a href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong><%- hotel[i].hotelName %></strong></a>
                        <p class="float-left"><%- hotel[i].timestamp %></p>
                    </div>
                    <div class="col-md-8">
                        <div class="clearfix"></div>
                        <p><%- hotel[i].hotelDescription %></p>
                    </div>
                    <div class="col-md-2">
                        <div class="clearfix"></div>
                        <a href="./dashboard/detail" class="btn btn-info text-center" role="button">Show more</a>
                    </div>
                </div>
                <% }%>
            </div>
        </div>
        <h2 class="text-center pt-4 pb-3">New Airline Announcement</h2>
        <div class="card border-info mb-3">
            <div class="card-body">
                <% for(var i = 0; i < airline.length; i++){ %>
                <div class="row">
                    <div class="col-md-2">
                        <a class="float-left"
                            href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong><%- airline[i].airlineName %></strong></a>
                        <p class="float-left"><%- airline[i].timestamp %></p>
                    </div>
                    <div class="col-md-8">
                        <div class="clearfix"></div>
                        <p><%- airline[i].airlineDescription %></p>
                    </div>
                    <div class="col-md-2">
                        <div class="clearfix"></div>
                        <a href="./dashboard/detail" class="btn btn-info" role="button">Show more</a>
                    </div>
                </div>
                <% }%>
            </div>
        </div>
    </div>
    <%- include('../includes/footer') %>