<%- include('../includes/header') %>

<link rel="stylesheet" href="../../assets/stylesheet/style.css">

</head>

<body>
    <%- include('../includes/navbar') %>
    <div class="container">
        <h2 class="text-center pt-4 pb-3">New Hotel Announcement</h2>
        <div class="card border-info mb-3">
            <div class="card-body">
                <% for(var i = 0; i < hotel.length; i++){ %>
                <div class="row">
                    <div class="col-md-2">
                        <strong><%- hotel[i].hotelName %></strong>
                        <p class="float-left"><%- hotel[i].timestamp %></p>
                    </div>
                    <div class="col-md-8">
                        <div class="clearfix"></div>
                        <p class="test"><%- hotel[i].hotelDescription %></p>
                    </div>
                    <div class="col-md-2">
                        <div class="clearfix"></div>
                        <form method="POST" action="./new-hotel-dashboard/detail/new-hotel">
                            <div class="clearfix"></div>
                            <button type="submit" class="btn btn-info text-center" role="button"
                                value="<%= hotel[i].hotelId %>">Show more</button>
                            <input type="hidden" name="hotelId" value="<%= hotel[i].hotelId %>">
                        </form>
                    </div>
                </div>
                <% }%>
            </div>
        </div>
    </div>
    <!-- <div class="container">
        <h2 class="text-center pt-4 pb-3">New Hotel Announcement</h2>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top blank" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div> -->
    <%- include('../includes/footer') %>