<%- include('../includes/header') %>

<link rel="stylesheet" href="../../assets/stylesheet/style.css">

</head>
<body>
    <%- include('../includes/navbar') %>
    <div class="container">
        <h2 class="text-center pt-4 pb-3">New Hotel Announcement</h2>
        <div class="row">
            <% for(var i = 0; i < hotel.length; i++){ %>
            <div class="col-md-6 pt-4">
                <div class="card h-100 bg-dark" style="color: white;">
                    <% if (typeof hotel[i].hotelPicture == 'undefined'){ %>
                    <div class="card-pic bg-dark rounded mx-auto d-block"></div>
                    <% } else{ %>
                    <% let isLink = /^(?:https\:\/\/|http\:\/\/|www)/.test(hotel[i].hotelPicture); %>
                    <div class="card-pic bg-dark rounded mx-auto d-block"
                        style="background-image: url('<%- (isLink?``:`/assets/uploads/contact/pictures/`) + hotel[i].hotelPicture %>'); ">
                    </div>
                    <% } %>
                    <div class="card-body text-center">
                        <h5 class="card-title "><%- hotel[i].hotelName %></h5>
                        <p class="card-text">
                            <%- (hotel[i].hotelDescription)?hotel[i].hotelDescription.substring(0, 120).concat(" ..."):"" %>
                        </p>
                        <form method="POST" action="./new-hotel-dashboard/detail/new-hotel">
                            <div class="clearfix"></div>
                            <button type="submit" class="btn btn-info text-center" role="button"
                                value="<%= hotel[i].hotelId %>">Show more</button>
                            <input type="hidden" name="hotelId" value="<%= hotel[i].hotelId %>">
                        </form>
                    </div>
                </div>
            </div>
            <% }%>
        </div>
    </div>
    <br>
    <br>
    <%- include('../includes/footer') %>