<%- include('../includes/header') %>

<link rel="stylesheet" href="../../assets/stylesheet/style.css">

</head>

<body>
    <%- include('../includes/navbar') %>
    <div class="container">
        <h2 class="text-center pt-4 pb-3">New Airline Announcement</h2>
        <div class="card border-info mb-3">
            <div class="card-body">
                <% for(var i = 0; i < airline.length; i++){ %>
                <div class="row">
                    <div class="col-md-2">
                        <strong><%- airline[i].airlineName %></strong>
                        <p class="float-left"><%- airline[i].timestamp %></p>
                    </div>
                    <div class="col-md-8">
                        <div class="clearfix"></div>
                        <p><%- airline[i].airlineDescription %></p>
                    </div>
                    <div class="col-md-2">
                        <form method="POST" action="./new-airline-dashboard/detail/new-airline">
                            <div class="clearfix"></div>
                            <button type="submit" class="btn btn-info text-center" role="button"
                                value="<%= airline[i].airline_Id %>">Show more</button>
                            <input type="hidden" name="airline_Id" value="<%= airline[i].airline_Id %>">
                        </form>
                    </div>
                </div>
                <% }%>
            </div>
        </div>
    </div>

    <%- include('../includes/footer') %>