<%- include('../includes/header') %>

<link rel="stylesheet" href="/assets/stylesheet/style.css">
</head>

<body>

    <%- include('../includes/navbar') %>

    <div class="responsive-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="display-4 p-3 text-center"><%= JSON.parse(hotel)[0].hotelName %></h1>
                </div>
                <div class="col-md-12">
                    <% if (typeof JSON.parse(hotel)[0].hotelPicture == 'undefined'){ %>
                    <div class="text-center">
                        <div class="hotel-pic bg-dark rounded mx-auto d-block"></div>
                        <% } else{ %>
                        <% let isLink = /^(?:https\:\/\/|http\:\/\/|www)/.test(JSON.parse(hotel)[0].hotelPicture); %>
                        <div class="text-center">
                            <div class="hotel-pic bg-dark rounded mx-auto d-block"
                                style="background-image: url('<%- (isLink?``:`/assets/uploads/contact/pictures/`) + JSON.parse(hotel)[0].hotelPicture %>'); ">
                            </div>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="pt-4 pb-1 pl-4">Hotel Description</h3>
                    </div>
                    <div class="col-md-12">
                        <p class="pl-3 pr-3 text-justify" style="text-indent: 3vw;">
                            <%= JSON.parse(hotel)[0].hotelDescription %><p></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="pb-2 pl-4">Hotel Picture and Detail</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <% if (typeof JSON.parse(hotel)[0].hotelPicture == 'undefined'){ %>
                        <div class="detail-pic bg-dark rounded mx-auto d-block"></div>
                        <% } else{ %>
                        <% let isLink = /^(?:https\:\/\/|http\:\/\/|www)/.test(JSON.parse(hotel)[0].hotelPicture); %>
                        <div class="detail-pic bg-dark rounded mx-auto d-block"
                            style="background-image: url('<%- (isLink?``:`/assets/uploads/contact/pictures/`) + JSON.parse(hotel)[0].hotelPicture %>'); ">
                        </div>
                        <% } %>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center h-40">
                            <div class="card-body">
                                <h5 class="card-title">Name</h5>
                                <p class="card-text"><%= JSON.parse(hotel)[0].hotelName %></p>
                            </div>
                        </div>
                        <div class="card text-center h-40">
                            <div class="card-body">
                                <h5 class="card-title">Email</h5>
                                <p class="card-text"><%= JSON.parse(hotel)[0].hotelEmail %></p>
                            </div>
                        </div>
                        <div class="card text-center h-40">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <address>Address</address>
                                </h5>
                                <p class="card-text"><%= JSON.parse(hotel)[0].hotelAddress %></p>
                            </div>
                        </div>
                        <div class="card text-center h-40">
                            <div class="card-body">
                                <h5 class="card-title">Telephone Number</h5>
                                <p class="card-text"><%= JSON.parse(hotel)[0].hotelTelNumber %></p>
                            </div>
                        </div>
                        <div class="card text-center h-40">
                            <div class="card-body">
                                <h5 class="card-title">Contact Number</h5>
                                <p class="card-text"><%= JSON.parse(hotel)[0].hotelContactNumber %></p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
            </div>
        </div>
        <h1 class="display-4 p-3 text-center"><%= JSON.parse(hotelRoomType)[0].single_bed_1_type %></h1>
        <%- include('../includes/footer') %>
