<%- include('../includes/header') %>

</head>

<body>
<%- include('../includes/navbar') %>

<div class="container-fluid my-4">
    <div class="card py-4 px-4">
            <!-- Search box here -->
            <div class="container-fluid my-2">
                <div class="d-flex">
                        <div class="justify-content-end">
                                <a href="/admin/flight/new">
                                    <button class="btn btn-info">ADD NEW FLIGHT</button>
                                 </a>
                        </div>
                </div>
            </div>
            

            <!-- Table Here -->
            <table class="table table-striped py-2">
                <thead class="thead-dark text-center">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Flight</th>
                        <th scope="col">Airline</th>
                        <th scope="col">Departure</th>
                        <th scope="col">Arrival</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <% flights.map((flight, index) => { %>
                        <tr>
                            <th scope="row"><%= index + 1 %></th>
                            <td><%= flight.Flight_number %></td>
                            <td><%= flight.airlineName %></td>
                            <td><%= flight.DepartureAirport %> (<%= flight.Departure %>)</td>
                            <td><%= flight.DestinationAirport %> (<%= flight.Destination %>)</td>
                            <td>
                                <div class="form-inline justify-content-center">
                                    <a href=<%= `/admin/flight/edit/${flight.Flight_number}` %>><button type="button" class="btn btn-secondary mr-1">EDIT</button></a>
                                    <button type="button" class="btn btn-danger" onclick=<%= `deleteFlight("${flight.Flight_number}")` %>>DELETE</button>
                                </div>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>

        </div>
</div>

<script src="/assets/js/admin/flight.js"></script>

<%- include('../includes/footer') %>
