<%- include('../includes/header') %>

<style>
  .testing {
    border-color: aquamarine;
  }
</style>
<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../includes/navbar') %>
  <title>Travel Aloha</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Alex+Brush" rel="stylesheet">

  <link href="../../css/shop-homepage.css" rel="stylesheet">
</head>



<!-- Page Content -->
<div class="container">

  <div class="row">

    <div class="col-lg-3">

      <h1 class="my-4">Dashboard Admin</h1>
      <div class="list-group">
        <a href="#" class="list-group-item">Hotel</a>
        <a href="#" class="list-group-item">Flight</a>
        <a href="#" class="list-group-item">Stactics</a>
      </div>


    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">
      <br>
     
      <div class="card text-center">
        <div class="card-header bg-secondary text-white">
          <b>Statistics</b>
        </div>
        <div class="card-body">
          <div class="row">
          <div class = "col-md-4">
          <h5 class="card-title">Registered user amount :</h5>
          <p class="card-text col-sm"><b><% for(var i = 0; i <data.length;i++) { %>
            <% if( data[i].countID){%>     
              <%= data[i].countID %> users
            <%}else{%>    
              -
            <%}%>   
            <% } %></b></p>
         
        </div>
        <div class = "col-md-4">
          <h5 class="card-title">Hotel amount :</h5>
          <p class="card-text col-sm"><b><% for(var i = 0; i <dataHotel.length;i++) { %>
            <% if( dataHotel[i].countID){%>     
              <%= dataHotel[i].countID %> places
            <%}else{%>    
              -
            <%}%>   
            <% } %></b></p>
         
        </div>
        <div class = "col-md-4">
          <h5 class="card-title">Flight amount :</h5>
          <p class="card-text col-sm"><b><% for(var i = 0; i <dataPlace.length;i++) { %>
            <% if( dataPlace[i].countID){%>     
              <%= dataPlace[i].countID %> flights
            <%}else{%>    
              -
            <%}%>   
            <% } %></b></p>
         
       
        </div>
        
     </div>
        <hr>
        <div class = "row">
        <div class = "col-md-4">
          <h5 class="card-title">Saved hotel amount :</h5>
          <p class="card-text col-sm"><b><% for(var i = 0; i <savedHotel.length;i++) { %>
            <% if( savedHotel[i].countID){%>     
              <%= savedHotel[i].countID %> times
            <%}else{%>    
              -
            <%}%>   
            <% } %></b></p>
         
        </div>
        <div class = "col-md-4">
          <h5 class="card-title">Saved Flight amount :</h5>
          <p class="card-text col-sm"><b><% for(var i = 0; i <savedFlight.length;i++) { %>
            <% if( savedFlight[i].countID){%>     
              <%= savedFlight[i].countID %> times
            <%}else{%>    
              -
            <%}%>   
            <% } %></b></p>
         
        </div><div class = "col-md-4">
          <h5 class="card-title">Hotel booking amount :</h5>
          <p class="card-text col-sm"><b><% for(var i = 0; i <countHotel.length;i++) { %>
            <% if( countHotel[i].countID){%>     
              <%= countHotel[i].countID %> times
            <%}else{%>    
              -
            <%}%>   
            <% } %></b></p>
         
        </div>
        </div>
        </div>
        
      </div>
        <div class="card-footer text-white bg-secondary">
          <b></b>
        </div>
      </div>
      <br>
      <hr>
      
      <b><center>Most booking hotel</center></b>
        <canvas id="myChart" width="100px" height="50px">
      <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        
        var data = {
            labels: [<% for(var i = 0; i <famousData.length;i++) { %>
              <% if(famousData[i].hotelId_booking == 2) {%>
                "LaLaHotel"    
              <% } %>
            
             <% } %>
             ],
            datasets: [
                
                {
                    label: "booking times",
                    backgroundColor: "gray",
                    data: [<% for(var i = 0; i <famousData.length;i++) { %>
              <%= famousData[i].countID %>
             <% } %>]
                }
                
            ],
            options: {
        title: {
            display: true,
            text: 'Custom Chart Title'
        }
    }
        };
        
        
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: data,
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
        
        </script>
            <!--  -->
      <!-- /.container -->

      <!-- Footer -->

      <!-- /.container -->

      <%- include('../includes/footer') %>