<%- include('../includes/header') %>

<link href="../../assets/css/booking_style.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker-standalone.css" rel="stylesheet"> -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.min.css"/>

<%- include('../includes/navbar') %>
</head>
<style>
    .card.mb-3, #summary, .sub-bt{
        margin-top: 20px;
    }
</style>
<body>

    <div class="container my-3">
        <div class="row">
            <div class="col-md-8">
                <form method = "POST" action = "contact1">
                    <div class="card mb-3">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-9 flight-head">
                                    Contact
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="firstname">Firstname</label>
                                        <input required type="name" class="form-control" id="c_fname" aria-describedby="firstname" placeholder="Enter firstname" value="<%=user.firstname%>">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="firstname">Lastname</label>
                                        <input required type="name" class="form-control" id="c_lname" aria-describedby="lastname" placeholder="Enter lastname" value="<%=user.lastname%>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email address</label>
                                    <input required type="email" class="form-control" id="c_email"
                                        aria-describedby="emailHelp" placeholder="Enter email" value="<%=user.Email%>">
                                </div>
                                <div class="form-group">
                                    <label for="phone">Phone number</label>
                                    <input required type="phone" class="form-control" id="c_phone" aria-describedby="phone"
                                        placeholder="Enter phone number" value="<%=user.PhoneNum%>">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card md-3">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-9 flight-head" onclick="recordPassager(2,2)">
                                    Passenger Information
                                </div>
                            </div>
                        </div>
                        <%for (let i = 0; i < passager; i++) { %>
                        <div class="card-body border-bottom my-3 passengerInfo">
                            <h5 class="card-title">
                                Passenger <%=i+1%>
                            </h5>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="fname<%=i%>">Firstname</label>
                                    <input required type="name" class="form-control" id="fname<%=i%>" aria-describedby="firstname"
                                        placeholder="Enter firstname">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="lname<%=i%>">Lastname</label>
                                    <input required type="name" class="form-control" id="lname<%=i%>" aria-describedby="lastname"
                                        placeholder="Enter lastname">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="nameTitle<%=i%>">Name Title</label>
                                    <select required class="form-control" id="nameTitle<%=i%>">
                                        <option value="Mr.">Mr.</option>
                                        <option value="Mrs.">Mrs.</option>
                                        <option value="Miss">Miss</option>
                                        <option value="Others">Others</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="birthDate<%=i%>">Date of Birth</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                                <label for="birthDate<%=i%>"class="input-group-text" id="basic-addon1"><i class="fa fa-calendar-plus-o"></i></lebel>
                                            </div>
                                        <input required class="form-control datepicker" id="birthDate<%=i%>" placeholder="YYYY-MM-DD">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label for="exampleFormControlSelect1">Identification type</label>
                                    <select required class="form-control" id="IDType<%=i%>">
                                        <option value="cid">Citizen ID</option>
                                        <option value="passport">Passport number</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-8">
                                    <label for="CID-Passport">Citizen ID / Passport number</label>
                                    <input required type="name" class="form-control" id="CID-Passport<%=i%>"
                                        aria-describedby="CID-Passport" placeholder="Enter Citizen ID / Passport Number">
                                </div>
                            </div>
                        </div>
                        <%}%>
                    </div>
                    <input type="hidden" id="contact" name="contact">
                    <input type="hidden" id="PassagerInfo" name="PassagerInfo">
                    <input type="hidden" id="feeValue" name="feeValue">
                    <input type="hidden" id="sendInfo" name="sendInfo" value="<%=JSON.stringify(info)%>">
                    <input type="hidden" id="passager" name="passager" value="<%=passager%>">
                    <input type="hidden" id="seatClass" name="seatClass" value="<%=seatClass%>">
                    <div class="row sub-bt">
                        <div class="col-md-12 col-sm-12">
                            <button type="submit" class="btn btn-info book" onclick="recordPassager('<%=passager%>','<%=info.length%>')">Next</button>
                        </div>
                    </div>        
                </form>
            </div>

            <!-- <div class="modal fade" id="summary_info" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Summary</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="card-text">
                                <div class="mb-3">
                                    <h5>Flight</h5>
                                    <div class="font-weight-bold">BKK&nbsp;<i
                                            class="fa fa-arrow-right"></i>&nbsp;CNX
                                    </div>
                                    <div>1 Person Economy Class</div>
                                    <div>Sunday, 03-Nov-2019</div>
                                    <div>20:25 - 21:45 <span class="airport-code">(1.20 Hours)</span></div>
                                </div>
                                <div class="mb-3">
                                    <h5>Contact</h5>
                                    <div>John Doe</div>
                                    <div>johndoe@mail.com</div>
                                    <div>0123456789</div>
                                </div>
                                <div class="mb-3">
                                    <h5>Passenger 1 Info</h5>
                                    <div>John Doe</div>
                                    <div>Male</div>
                                    <div>09-Nov-2019</div>
                                </div>
                                <div class="text-right">
                                    <div class="row">
                                        <div class="col-md-8">Nok Air Economy (1)</div>
                                        <div class="col-md-4">1,649 &#3647; </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">VAT 7%</div>
                                        <div class="col-md-4">115.43 &#3647; </div>
                                    </div>
                                    <div class="row font-weight-bold">
                                        <div class="col-md-8">Total</div>
                                        <div class="col-md-4">1964.43 &#3647; </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Checkout</button>
                        </div>
                    </div>
                </div>
            </div> -->
            <%- include('./summary') %>
        </div>
    </div>

    <script>
        function recordPassager (passager,feeLength){
            var lis = [];
            for(i=0 ; i<passager ; i++)
            {
                lis[i] = {
                    fname: document.getElementById('fname'+i).value,
                    lname: document.getElementById('lname'+i).value,
                    nameTitle: document.getElementById('nameTitle'+i).value,
                    birthDate: document.getElementById('birthDate'+i).value,
                    cid: null,
                    passport: null
                };
                IDtype = document.getElementById('IDType'+i).value;
                if(IDtype == 'cid')
                {
                    lis[i]['cid'] = document.getElementById('CID-Passport'+i).value;
                }
                else
                {   
                    lis[i]['passport'] = document.getElementById('CID-Passport'+i).value;
                }
            }
            console.log(lis);
            const strPassagerInfo = JSON.stringify(lis);
            document.getElementById("PassagerInfo").value = strPassagerInfo;

            var fee = [];
            for(i=0 ; i<feeLength ; i++)
            {
                var f = document.getElementById('fee'+i).value;
                fee.push(f);
            }
            const strFee = JSON.stringify(fee);
            document.getElementById("feeValue").value = strFee;

            var contact = {
                fname: document.getElementById("c_fname").value,
                lname: document.getElementById("c_lname").value,
                email: document.getElementById("c_email").value,
                phone: document.getElementById("c_phone").value
            }
            const strContract = JSON.stringify(contact);
            document.getElementById("contact").value = strContract;
        };

        const passagerInfo = {
            fname: "firstname",
            lname: "lastname",
            nameTitle: "title",
            birthDate: "Birth",
            cid: "cid",
            passport: "passport"
        }

        $(document).ready(function(){
            $('.datepicker').datepicker({
                format: 'yyyy-mm-dd',
                uiLibrary: 'bootstrap4',
                inline: false,
                maxDate: "+1m",
                minDate: -10
            });
        });
    </script>
    <%- include('../includes/footer') %>