<%- include('../includes/header') %>

<link href="../../assets/css/booking_style.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<%- include('../includes/navbar') %>
</head>
<style>
    .card.mb-3,
    #summary {
        margin-top: 20px;
    }
</style>

<body>
    <div class="container my-3">
        <div class="row">
            <!-- Flight info part -->
            <div class="col-md-8">
                <!-- Flight header -->
                <form method="POST" action="thankyou">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h2>Summary</h2>
                            <!-- Include summary.ejs here. then remove line 25 -->
                            Total price <%=totalpay%> &#3647;
                        </div>
                    </div>
                    <input type="hidden" id="PassagerInfo" name="PassagerInfo" value="<%=passagerInfo%>">
                    <input type="hidden" id="reserveSeat" name="reserveSeat" value="<%=reserveSeat%>">
                    <input type="hidden" id="upsellData" name="upsellData" value="<%=upsellData%>">
                    <input type="hidden" id="upsell" name="upsell" value="<%=upsell%>">
                    <input type="hidden" id="totalpay" name="totalpay" value="<%=totalpay%>">
                    <input type="hidden" id="contact" name="contact" value="<%=contact%>">
                    <input type="hidden" id="book_ref" name="book_ref" value="<%=book_ref%>">
                    <input type="hidden" id="sendInfo" name="sendInfo" value="<%=info%>">
                    <input type="hidden" id="passager" name="passager" value="<%=passager%>">
                    <input type="hidden" id="seatClass" name="seatClass" value="<%=seatClass%>">
                    <button type="submit" class="btn btn-info mt-2 book align-bottom" onclick="send()">Proeed to
                        Checkout</button>
                </form>
            </div>
        </div>
        <%- include('../includes/footer') %>