<div class="col-md-4" id="summary">
    <div class="card">
        <div class="card-body">
            <h4>Summary</h4>
            <% let sum=0;
            for (let i = 0; i < info.length; i++) { sum+=p[i]%>
            <div class="font-weight-bold"><%=info[i]['Departure']%>&nbsp;<i class="fa fa-arrow-right"></i>&nbsp;<%=info[i]['Destination']%></div>
            <div><%=info[0]['Dep_Day']%>, <%=info[i]['Dep_Date']%></div>
            <div><%=info[i]['Dep_time']%> - <%=info[i]['Arr_time']%> <span class="airport-code">(<%=info[i]['timespan']%>)</span></div>
            <div class="row">
                <div class="col-md-8"><%=info[i]['airlineName']%> : <%=seatClass%> (<%=passager%>)</div>
                <div class="text-right col-md-4" id="fee<%=i%>" value="<%=p[i]%>"><%=strP[i]%> &#3647;</div>
            </div>
            <%}%>
            <div class="text-right mt-5">
                <div class="row">
                    <div class="col-md-8">Pay</div>
                    <div class="col-md-4 sum" id="sum0" name="sum0" value = "<%=total[0]%>"><%=strSum[0]%> &#3647;</div>
                    <input type="hidden" id="selectedFlight" name="selectedFlight">
                </div>
                <div class="row">
                    <div class="col-md-8">VAT 7%</div>
                    <div class="col-md-4 sum" id="sum1" name="sum1" value = "<%=total[1]%>"><%=strSum[1]%> &#3647;</div>
                </div>
                <div class="row font-weight-bold">
                    <div class="col-md-8">Total</div>
                    <div class="col-md-4 sum" id="sum2" name="sum2" value = "<%=total[2]%>"><%=strSum[2]%> &#3647;</div>
                </div>
            </div>
        </div>
    </div>
</div>