<%- include('../includes/header') %>

<link href="../../assets/css/booking_style.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker-standalone.css" rel="stylesheet"> -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.min.css"/>

<%- include('../includes/navbar') %>
</head>
<style>
    .card.mb-3, #summary, .sub-bt{
        margin-top: 20px;
    }
</style>
<body>

    <div class="container my-3">
        <div class="row">
            <div class="col-md-8">
                <form>
                    <div class="accordion" id="accordionExample">
                        <%for (let i = 0; i < info.length; i++) { %>
                        <div class="card">
                            <div class="card-header" id="heading<%=i%>">
                                <h2 class="mb-0">
                                    <%if(i==0){%>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse<%=i%>" aria-expanded="true" aria-controls="collapse<%=i%>">
                                    <%}else{%>
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse<%=i%>" aria-expanded="false" aria-controls="collapse<%=i%>">
                                    <%}%>
                                        <i class="fa fa-plane">&nbsp;</i><%=info[i]['dep_city']%>&nbsp;<span class="airport-code"><%=info[i]['Departure']%></span>
                                        <i class="fa fa-long-arrow-right"></i>
                                        <%=info[i]['des_city']%>&nbsp;<span class="airport-code"><%=info[i]['Destination']%></span>
                                    </button>
                                </h2>
                            </div>
                            <%if(i==0){%>
                            <div id="collapse<%=i%>" class="collapse show" aria-labelledby="heading<%=i%>" data-parent="#accordionExample">
                            <%}else{%>
                            <div id="collapse<%=i%>" class="collapse" aria-labelledby="heading<%=i%>" data-parent="#accordionExample">
                            <%}%>
                                <div class="card-body">
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <%for (let j = 0; j < passagerInfo.length; j++) { %>
                                        <%if(j==0){%>
                                        <li class="nav-item">
                                            <a class="nav-link active" id="passagerUpsell_tab<%=i%>_<%=j%>" data-toggle="tab" href="#passagerUpsell<%=i%>_<%=j%>" role="tab" aria-controls="passagerUpsell<%=i%>_<%=j%>" aria-selected="true">
                                                <%=passagerInfo[j]['fname']%> <%=passagerInfo[j]['lname']%>
                                            </a>
                                        </li>
                                        <%}else{%>
                                        <li class="nav-item">
                                            <a class="nav-link" id="passagerUpsell_tab<%=i%>_<%=j%>" data-toggle="tab" href="#passagerUpsell<%=i%>_<%=j%>" role="tab" aria-controls="passagerUpsell<%=i%>_<%=j%>" aria-selected="false">
                                                <%=passagerInfo[j]['fname']%> <%=passagerInfo[j]['lname']%>
                                            </a>
                                        </li>
                                        <%}%>
                                    <%}%>
                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                    <%for (let j = 0; j < passagerInfo.length; j++) { %>
                                        <%if(j==0){%>
                                        <div class="tab-pane fade show active" id="passagerUpsell<%=i%>_<%=j%>" role="tabpanel" aria-labelledby="passagerUpsell_tab<%=i%>_<%=j%>">
                                            <div class="md-3">
                                                <h5 class="card-title">Passenger <%=passagerInfo[j]['fname']%> <%=passagerInfo[j]['lname']%></h5>
                                        <%}else{%>
                                        <div class="tab-pane fade" id="passagerUpsell<%=i%>_<%=j%>" role="tabpanel" aria-labelledby="passagerUpsell_tab<%=i%>_<%=j%>">
                                            <div class="md-3">
                                                <h5 class="card-title">Passenger <%=passagerInfo[j]['fname']%> <%=passagerInfo[j]['lname']%></h5>
                                        <%}%>
                                            </div>
                                            <div class="mt-4">
                                                <h5>Additional Services</h5>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="xtra_bag" value="50">
                                                    <label class="form-check-label" for="inlineCheckbox1">Extra Luggage</label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="premiumLounge"
                                                        value="200">
                                                    <label class="form-check-label" for="inlineCheckbox1">Premium Lounge</label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="meal" value="200">
                                                    <label class="form-check-label" for="inlineCheckbox2">In-flight Meal</label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="wifi" value="60">
                                                    <label class="form-check-label" for="inlineCheckbox3">In-flight Wi-Fi</label>
                                                </div>
                                            </div>
                                        </div>
                                    <%}%>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%}%>
                    </div>
                    <input type="hidden" id="PassagerInfo" name="PassagerInfo">
                    <div class="row sub-bt">
                        <div class="col-md-6 col-sm-12">
                            <button type="submit" class="btn btn-info book" onclick="recordPassager('<%=passager%>')">Submit</button>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <button type="" class="btn btn-success book">Book Grab Ride</button>
                        </div>
                    </div>        
                </form>
            </div>
            <div class="col-md-4" id="summary">
                <div class="card">
                    <div class="card-body">
                        <h4>Summary</h4>
                        <% let sum=0;
                        for (let i = 0; i < info.length; i++) { sum+=p[i]%>
                        <div class="font-weight-bold"><%=info[i]['Departure']%>&nbsp;<i class="fa fa-arrow-right"></i>&nbsp;<%=info[i]['Destination']%></div>
                        <div><%=info[0]['Dep_Day']%>, <%=info[i]['Dep_Date']%></div>
                        <div><%=info[i]['Dep_time']%> - <%=info[i]['Arr_time']%> <span class="airport-code">(<%=info[i]['timespan']%>)</span></div>
                        <div class="row">
                            <div class="col-md-8"><%=info[i]['airlineName']%> : <%=seatClass%> (<%=passager%>)</div>
                            <div class="text-right col-md-4" id="fee<%=i%>" value="<%=p[i]%>"><%=strP[i]%> &#3647;</div>
                        </div>
                        <%}%>
                        <div class="text-right mt-5">
                            <div class="row">
                                <div class="col-md-8">Pay</div>
                                <div class="col-md-4"><%=strSum[0]%> &#3647;</div>
                                <input type="hidden" id="selectedFlight" name="selectedFlight">
                            </div>
                            <div class="row">
                                <div class="col-md-8">VAT 7%</div>
                                <div class="col-md-4"><%=strSum[1]%> &#3647;</div>
                            </div>
                            <div class="row font-weight-bold">
                                <div class="col-md-8">Total</div>
                                <div class="col-md-4"><%=strSum[2]%> &#3647;</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function recordPassager (passager){
            var lis = []
            for(i=0 ; i<passager ; i++)
            {
                var p = passagerInfo;
                p.fname = document.getElementById('fname'+i).value;
                p.lname = document.getElementById('lname'+i).value;
                p.nameTitle = document.getElementById('nameTitle'+i).value;
                p.birthDate = document.getElementById('birthDate'+i).value;
                p.birthDate.replace('/','-');
                p.cid = p.passport = null;
                var check = document.getElementById('IDType'+i).value;
                if(check = 'cid')
                {
                    p.cid = document.getElementById('CID-Passport'+i).value;
                }
                else
                {   
                    p.passport = document.getElementById('CID-Passport'+i).value;
                }
                lis.push(p);
                console.log(lis[i]);
            }
            const strPassagerInfo = JSON.stringify(lis);
            document.getElementById("PassagerInfo").value = strPassagerInfo;
        };

        const passagerInfo = {
            fname: "firstname",
            lname: "lastname",
            nameTitle: "title",
            birthDate: "Birth",
            cid: "cid",
            passport: "passport"
        }

        $(document).ready(function(){
            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4',
                inline: false,
                maxDate: "+1m",
                minDate: -10
            });
        });
    </script>
    <%- include('../includes/footer') %>