<%- include('../includes/header') %>

	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	
	<style>
		body {
			min-width: 375px;
			min-height: 100vh;
			padding-bottom: 2rem;
			background-color: rgb(248, 248, 248);
		}
		header {
			display: block;
			position: relative;
			min-height: 500px;
			height: 100vh;
		}
		header > background {
			background-color: #000;
			display: block;
			position: absolute;
			top: 0; right: 0; bottom: 0; left: 0;
			background-image: url("https://www.larutadelsorigens.cat/wallpic/full/35-350784_beach-house-maldives-wallpaper-maldives-water-desktop-background.jpg");
			background-attachment: fixed;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			filter: brightness(0.55);
		}
		#applyButton {
			cursor: pointer;
			width: fit-content;
			padding: 1rem 1.5rem;
			border: 1px solid #059;
			border-radius: 100rem;
			background-color: #059;
			transform: scale(0.9);
		}
		#applyButton:hover, #applyButton:active {
			color: #eee;
			border: 1px solid #eee;
			background-color: #09f;
			transform: scale(1);
		}
		content {
			animation: fadeup 0.5s linear;
		}
		content > h1 {
			font-size: 4.2rem;
		}
		@keyframes fadeup {
			0% { transform: scale(1.5); }
			60% { transform: scale(0.7); }
		}
		#companyAds {
			max-width: 1000px;
			margin: 3.5rem auto;
		}
		#companyAds > div[data-aos] {
			background-color: rgb(239, 239, 239);
			overflow-wrap: break-word;
			word-break: break-all;
			text-align: center;
			padding: 1.2rem;
		}
	</style>

</head>

<body> 

	<header class="d-flex flex-column justify-content-center align-items-center">
		<background></background>
		<content class="d-flex flex-column align-items-center text-center" style="max-width: 800px; z-index: 9; color: #eee;">
			<h1 class="font-weight-light">Travelaloha Company</h1>
			<p class="font-weight-light" style="width: 70%; min-width: 290px;">
				We are looking for Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, 
				repellendus nemo sequi minima id itaque perspiciatis ipsa commodi 
				laudantium facilis quis ex libero, voluptatum iure ad aliquam. Neque, optio vero?
			</p>
			<div id="applyButton" onclick="window.location='/admin/staff/login'">
				Join our company &larr; <%- (user)?'GO':'LOGIN' %>
			</div>
		</content>
	</header>

	<div id="companyAds" class="row justify-content-around align-items-start">
		<h3 class="display-4 col-12 text-center py-5" style="font-size: 3rem;">
			What if ...
		</h3>
		<div data-aos="fade-up"
		class="col-10 col-md-5 my-3">
			<h5>Title 1</h5>
			<span class="font-weight-light">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, nisi.
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos, impedit.
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima, dicta!
			</span>
		</div>
		<div data-aos="fade-up"
		class="col-10 col-md-5 my-3">
			<h5>Title 2</h5>
			<span class="font-weight-light">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, nisi.
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos, impedit.
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima, dicta!
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos, impedit.
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima, dicta!
			</span>
		</div>
		<div data-aos="fade-up"
		class="col-10 my-3">
			<h5>Title 3</h5>
			<span class="font-weight-light">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, nisi.
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos, impedit.
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima, dicta!
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, nisi.
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos, impedit.
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima, dicta!
			</span>
		</div>

		<h3 class="display-4 col-12 text-center mt-5 mb-3" style="font-size: 3rem;">
			Current available departments ...
		</h3>
		<p class="col-auto mt-2"><span>See available roles of:&nbsp;&nbsp;</span>
			<select onchange="reloadRolesList(this)" class="form-control d-inline-block" style="width: fit-content;">
				<% for (let i = 0; i < deptList.length; ++i) { %>
					<% if (i == 0) { %>
					<option value="<%- deptList[i].deptNo %>" selected><%- deptList[i].deptName %></option>
					<% } else { %>
					<option value="<%- deptList[i].deptNo %>"><%- deptList[i].deptName %></option>
				<% }
				} %>
			</select>
		</p>
		<div class="w-100"></div>
		<div id="rolesDetail" class="col-auto pt-3 text-break text-left"><% if (!!rolesFirstDept.length) { %><%- rolesFirstDept.map((item, index) => {
			return `<p class="font-weight-bold">${index+1}) ${item.roleName}</p><p>${item.roleDetail}</p>`
		}).join('') %><% } else { %>No available role<% } %></div>
	</div>
	
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script>
		AOS.init({duration: 1000, offset: 150});
	</script>
	<script src="../../assets/js/staff_admin/index.js"></script>

<%- include('../includes/footer') %>
