<%- include('../includes/header') %>

	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	
	<style>
		body {
			min-height: 100vh;
			padding-bottom: 2rem;
			background-color: rgb(248, 248, 248);
		}
		header {
			display: block;
			position: relative;
			min-height: 500px;
			height: 90vh;
		}
		header > background {
			background-color: #000;
			display: block;
			position: absolute;
			top: 0; right: 0; bottom: 0; left: 0;
			background-image: url("https://www.larutadelsorigens.cat/wallpic/full/35-350784_beach-house-maldives-wallpaper-maldives-water-desktop-background.jpg");
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			filter: brightness(0.65);
		}
		#applyButton {
			cursor: pointer;
			padding: 1rem 1.5rem;
			border: 1px solid #33a;
			border-radius: 100rem;
			background-color: #33a;
		}
		#applyButton:hover, #applyButton:active {
			color: #eee;
			border: 1px solid #eee;
			background-color: #00f;
		}
	</style>

</head>

<body> 

	<header class="d-flex flex-column justify-content-center align-items-center">
		<background></background>
		<content class="d-block text-center" style="z-index: 9; color: #eee;">
			<div id="applyButton" onclick="window.location='/admin/staff/login'">Join our company (LOGIN)</div>
		</content>
	</header>



	<select onchange="reloadRolesList(this)" class="form-control" style="width: fit-content;">
		<% for (let i = 0; i < deptList.length; ++i) { %>
			<% if (i == 0) { %>
			<option value="<%= deptList[i].deptNo %>" selected><%= deptList[i].deptName %></option>
			<% } else { %>
			<option value="<%= deptList[i].deptNo %>"><%= deptList[i].deptName %></option>
		<% }
		} %>
	</select>
	<p id="rolesDetail"><%- JSON.stringify(rolesFirstDept) %></p>
	
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script>
		AOS.init();
	</script>
	<script src="../../assets/js/staff_admin/index.js"></script>

<%- include('../includes/footer') %>
