<%- include('../includes/header') %>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
	
	<style>
		body {
			min-width: 375px;
			background-color: rgba(139, 139, 139, 0.39);
		}
		.no-proj {
			width: 80%;
			min-width: 350px;
			max-width: 1000px;
			background-color: rgba(248, 248, 248, 0.75);
		}
		div button {
			transform: scale(0.8);
		}
		.project {
			width: 320px;
		}
		.project:nth-child(3n+1) {
			border: 1px solid black;
		}
		.project:nth-child(3n+2) {
			border: 1px solid green;
		}
		.project:nth-child(3n) {
			border: 1px solid blue;
		}
	</style>

</head>

<body> 

    <%- include('./navbar') %>
	
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
	
	<div class="w-100 mt-5"></div>

	<% if (isManager) { %>
		<p class="mx-auto" style="width: fit-content;">
			<button class="btn btn-primary" onclick="newProject('<%- user.user_id %>')">create new project +</button>
		</p>
	<% } %>
	<div class="no-proj text-center p-5 mb-2 mx-auto row">
	<% if (myProject.length == 0) { %>
		No project Here
	<% } else { 
		for (let i = 0; i < myProject.length; ++i) { %>
			<div class="mb-2 p-2 project text-break mx-2" style="width: fit-content;">
				<div class="d-none projectId"></div>
				<span><%- new Date(myProject[i].startDate).toString().split('GMT')[0] %></span><br>
				<ins><%- myProject[i].projectName %></ins><br>
				<span><%- myProject[i].projectDetail %></span>
				<div class="w-100 my-2"></div>
				<!-- <button class="btn btn-primary">update</button> -->
				<button class="btn btn-secondary" onclick="closeProject('<%- myProject[i].projectId %>')">close project</button>
				<button class="btn btn-danger" onclick="deleteProject('<%- myProject[i].projectId %>')">withdraw project</button>
			</div>
		<% }
	} %>
	</div>

	<script src="../../assets/js/staff_admin/project.js"></script>

<%- include('../includes/footer') %>
