<%- include('../includes/header') %>
<%- include('../includes/navbar') %>

	<style>
		background {
			color: white;
			min-height: 100vh;
			background-image: url("../../assets/Pictures/staff_admin/recruiting-wallpaper.png");
			background-color: #dedede;
			background-repeat: no-repeat;
			background-position: center;
			padding: 3.5rem 0;
		}
		myForm {
			background-color: rgba(34, 43, 59, 0.7);
			padding: 1.2rem 1.7rem;
			width: 60%;
			height: fit-content;
			min-width: 280px;
			max-width: 750px;
		}
		profileImage {
			width: 75%;
			height: 200px;
			background-color: black;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center 15%;
		}
		label {
			display: inline-block;
		}
		label, input {
			font-size: 0.9rem;
		}
	</style>
</head>

<body>
	<background class="d-flex w-100 justify-content-center">
	<myForm class="row rounded pt-5 justify-content-end align-content-start">
	<% if (onPending == 'true') { %>
		<p class="col-12 text-center">You already sent an application one.</p>
		<button id="withdraw" class="btn btn-danger">Withdraw</button>
	<% } else { %>
		<existedInfo class="row col-md col-12 pb-4 d-flex justify-content-center align-content-center">
			<profileImage class="mb-4"></profileImage>
			<briefInfo class="col-auto pt-3">
				<p style="font-size: 0.9rem;">
					<yTitle class="text-capitalize font-weight-bold"></yTitle>:
					&nbsp;<yDetail></yDetail>
				</p>
			</briefInfo>
		</existedInfo>
		<newInfo class="d-block col-md col-12 pb-4">
			<h2 class="text-center py-2" style="font-size: 1.4rem;">Staff Recruiting Form</h2>
			<label for="department">Department</label><br/>
			<input type="text" id="department" class="form-control" placeholder="Your wanted department"/><br/>
			<label for="role">Role</label><br/>
			<input type="text" id="role" class="form-control" placeholder="Your wanted role" />
			<buttonDirection class="d-block w-100 text-right mt-4">
				<button id="submit" type="button" class="btn btn-primary">submit</button>
			</buttonDirection>
		</newInfo>
	<% } %>
	</myForm>
	</background>

	<script>
		let onPending = '<%- onPending %>'
		let data = JSON.parse('<%- data %>')
	</script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
	<script src="../../assets/js/staff_admin/recruiting.js"></script>

<%- include('../includes/footer') %>