<%- include('../includes/header') %>
<%- include('../includes/navbar') %>

	<style>
		background {
			background-image: url("../../assets/Pictures/staff_admin/recruiting-wallpaper.png");
			background-color: #dedede;
			background-repeat: no-repeat;
			background-position: center;
			padding: 3.5rem 0;
		}
		submitForm {
			background-color: rgba(255, 255, 255, 0.7);
			padding: 1.2rem 1.7rem;
			width: 60%;
			min-width: 280px;
			max-width: 500px;
		}
		existedInformation {
			width: fit-content;
			margin: 0 auto;
		}
		label {
			display: inline-block;
		}
	</style>
</head>

<body>
	<background class="d-flex w-100 justify-content-center">
		<submitForm class="d-block rounded">

			<img src="../../assets/Pictures/staff_admin/staff-icon.png" width="40%" style="margin: 0 30%;">
			<h2 class="text-center mt-3">Staff Recruiting Form</h2>
			<hr class="w-100 p-1 my-4" />

			<existedInformation class="d-block" style="font-size: 0.9rem;">
				<p>
					<yTitle class="text-capitalize font-weight-bold"></yTitle>:
					&nbsp;<yDetail></yDetail>
				</p>
			</existedInformation>

			<hr class="w-100 p-1 my-4" />
			<newInformation class="d-block w-100">
				<!-- Provide text fields here -->
				<label for="department">Department</label><br/>
				<input type="text" id="department" class="form-control" placeholder="Type your wanted department"/><br/>
				<label for="salary">Salary</label><br/>
				<input type="text" id="salary" class="form-control" placeholder="Type your wanted salary" />
				<!-- Test input 
					Actually need changing design
				-->
			</newInformation>

			<buttonDirection class="d-block w-100 text-right mt-4">
				<button id="submitButton" type="button" class="btn btn-primary">submit</button>
			</buttonDirection>

		</submitForm>
	</background>
	<script>
		var data = JSON.parse('<%- data %>')
		console.log('<%- data %>')
	</script>
	<script src="../../assets/js/staff_admin/recruiting.js"></script>
	<!-- <script src="../../../server/models/staff_recruiting.js"></script> -->

<%- include('../includes/header') %>