<%- include('../includes/header') %>
	<style>
		body {
			min-height: calc(100vh);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			background-color: aqua;
		}
		candidateCard {
			background-color: rgba(208, 208, 208, 0.75);
			width: fit-content;
			height: fit-content;
			padding: 1rem;
			border: 1px solid black;
		}
		ProfilePicture {
			width: 80%;
			height: 160px;
			margin: 1rem;
			background-color: black;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		}
		label[class*="btn"] {
			min-width: 100px;
			padding: auto 2rem;
			cursor: pointer;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
		  
		label[class*="btn"]:hover {
			box-shadow: 0 0 1rem 0.2rem black;
		}
		  
		#readAuth:not(:checked) ~ *:not(.visible) {
			display: none;
		}
		  
		input[type="checkbox"]:active + label {
			transform: scale(0.8);
		}
		
		input[type="checkbox"]:not(:checked) + label {
			background-color: white;
			color: #007bff;
			border: 1px solid #007bff;
		}
		
		input[type="checkbox"]:checked + label {
			background-color: #007bff;
			color: white;
		}
	</style>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
</head>
<body style="background-image: url('https://i.redd.it/breluv06gbc31.png');">
<%- include('../includes/navbar') %>
<h2 class="text-center my-4">Requested List</h2>
<CandidateList class="d-flex justify-content-center flex-wrap">
	<% let cdd = JSON.parse(data);
	for (let i = 0; i < cdd.length; i++) { %>
		<CandidateCard class="rounded d-flex flex-column align-items-center m-3">
			<ProfilePicture class="d-block" style="background-image: url('<%= cdd[i][`profile_picture`] %>');"></ProfilePicture>
			<p class="userid d-none"><%= cdd[i]['user_id'] %></p>
			<% delete cdd[i]['profile_picture'];
			delete cdd[i]['user_id'];
			for(const [key, val] of Object.entries(cdd[i])) { %>
			<p> 
				<span class="<%= key %> text-upper"><%= key %></span>: 
				<span><%= val %></span> 
			</p>
			<% } %>
			<p data-descript="groupButtonToTheSameLine">
			<button type="button" class="reject btn btn-outline-danger">REJECT</button>
			<button type="button" class="approve btn btn-success">APPROVE</button>
			</p>
		</CandidateCard>
	<% } %>
</CandidateList>
	
<script src="../../assets/js/staff_admin/requisition.js"></script>

<%- include('../includes/footer') %>
