<%- include('../includes/header') %>

</head>

<body>
<%- include('../includes/navbar') %>

<div class="container-fluid my-4">
    <div class="card py-4 px-4">
            <!-- Search box here -->
            <div class="container-fluid my-2">
                <div class="d-flex">
                        <div class="justify-content-end">
                                <a href="/admin/hotel/new">
                                    <button class="btn btn-info">ADD NEW hotel</button>
                                 </a>
                        </div>
                </div>
            </div>
            

            <!-- Table Here -->
            <div class="table-responsive">
            <table class="table table-striped py-2">
                <thead class="thead-dark text-center">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">HotelID</th>
                        <th scope="col">Logo</th>
                        <th scope="col">Picture</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Address</th>
                        <th scope="col">Telephone Number</th>
                        <th scope="col">Contact Number</th>
                        <th scope="col">Email</th>
                        <th scope="col">Verify</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <%hotels.map((hotel, index) => { %>
                        <tr>
                            <th scope="row"><%= index + 1 %></th>
                            <td><%= hotel.hotelId %></td>
                            <td><img width="80" src=<%= hotel.hotelLogo %> alt="Hotel Logo"></td>
                            <td><img width="80" src=<%= hotel.hotelPicture %> alt="Hotel Picture"></td>
                            <td><%= hotel.hotelName %></td>
                            <td><%= hotel.hotelDescription %></td>
                            <td><%= hotel.hotelAddress %></td>
                            <td><%= hotel.hotelTelNumber %></td>
                            <td><%= hotel.hotelContactNumber %></td>
                            <td><%= hotel.hotelEmail %></td>
                            <td><%= hotel.hotelVerify ? "✅" : "❌" %></td>
                            <td>
                                <div class="form-inline justify-content-center">
                                    <a href=<%= `/admin/hotel/edit/${hotel.hotelId}` %>><button type="button" class="btn btn-secondary mr-1">EDIT</button></a>
                                    <button type="button" class="btn btn-danger" onclick=<%= `deleteHotel("${hotel.hotelId}")` %>>DELETE</button>
                                </div>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
        </div>
</div>

<script src="/assets/js/admin/hotel.js"></script>

<%- include('../includes/footer') %>
