<div class="modal fade" id="<%= id %>" tabindex="-1" role="dialog" aria-labelledby="<%= id %>Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="<%= id %>Label"><%= title %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="<%= id %>Form" action="<%= url %>">
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-form-label col-md-3">
                            Code
                        </label>
                        <div class="col">
                            <input type="text" class="form-control" name="code">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-md-3">
                            Name
                        </label>
                        <div class="col">
                            <input type="text" class="form-control" name="name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-md-3">
                            Description
                        </label>
                        <div class="col">
                            <textarea class="form-control" name="description"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-md-3">
                            Start date
                        </label>
                        <div class="col">
                            <input type="date" class="form-control" name="start_date">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-md-3">
                            Expire date
                        </label>
                        <div class="col">
                            <input type="date" class="form-control" name="expire_date">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-md-3">Level</label>
                        <div class="col">
                            <select name="levels" class="form-control coupon-level-select" multiple="multiple">
                                <% for (level of allLevels) { %>
                                <option value="<%= level[0] %>"><%= level[1] %></option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-md-3">User promotion</label>
                        <div class="col">
                            <select name="users" class="form-control user-select" multiple="multiple"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">Unlimited</div>
                        <div class="col">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="<%= id %>Unlimited"
                                    name="unlimited" checked>
                                <label class="form-check-label" for="<%= id %>Unlimited">Yes</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row" id="<%= id %>MaxRedeemCount">
                        <label class="col-form-label col-md-3">Maximum redeem count</label>
                        <div class="col">
                            <input class="form-control" type="number" name="max_count" min="0">
                        </div>
                    </div>
                    <hr>
                    <div>
                        <h4>Hotel</h4>

                        <div class="form-group row">
                            <div class="col-md-3">Allow</div>
                            <div class="col">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="<%= id %>HotelForAll"
                                        name="for_every_hotel" checked>
                                    <label class="form-check-label" for="<%= id %>HotelForAll">For every hotel</label>
                                </div>
                            </div>
                            <div class="m-3"></div>
                            <select name="hotels" class="form-control hotel-select" multiple="multiple"></select>
                        </div>
                    </div>
                    <hr>
                    <div>
                        <h4>Airline</h4>

                        <div class="form-group row">
                            <div class="col-md-3">Allow</div>
                            <div class="col">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="<%= id %>AirlineForAll"
                                        name="for_every_airline" checked>
                                    <label class="form-check-label" for="<%= id %>AirlineForAll">For every airline</label>
                                </div>
                            </div>
                            <div class="m-3"></div>
                            <select name="airlines" class="form-control airline-select" multiple="multiple"></select>
                        </div>
                        <hr>
                        <div class="form-group row">
                            <label class="col-form-label col-md-3">Discount</label>
                            <div class="col">
                                <div class="input-group">
                                    <input class="form-control" type="number" name="discount_percentage" min="1"
                                        max="100">
                                    <div class="input-group-append">
                                        <div class="input-group-text">%</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary"><%= buttonActionValue %></button>
                </div>
            </form>
        </div>
    </div>
</div>