<%- include('../includes/header') %>

</head>

<body>
<%- include('../includes/navbar') %>

<div class="container-fluid my-4">
    <div class="card py-4 px-4">
            <!-- Search box here -->
            <!-- <div class="container-fluid my-2">
                <form class="form-inline my-lg-0 justify-content-end">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div> -->
            

            <!-- Table Here -->
            <table class="table table-striped py-2">
                <thead class="thead-dark text-center">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Flight</th>
                        <th scope="col">Airline</th>
                        <th scope="col">Departure</th>
                        <th scope="col">Departure date</th>
                        <th scope="col">Departure time</th>
                        <th scope="col">Arrival</th>
                        <th scope="col">Arrival date</th>
                        <th scope="col">Arrival time</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <% flights.map((flight, index) => { %>
                        <tr>
                            <th scope="row"><%= index + 1 %></th>
                            <td><%= flight.Flight_number %></td>
                            <td><%= flight.airlineName %></td>
                            <td><%= flight.DepartureAirport %> (<%= flight.Departure %>)</td>
                            <td><%= flight.Arrive_Date %></td>
                            <td><%= flight.Arrive_Time %></td>
                            <td><%= flight.DestinationAirport %> (<%= flight.Destination %>)</td>
                            <td><%= flight.Depart_Date %></td>
                            <td><%= flight.Depart_Time %></td>
                            <td>
                                <div class="form-inline justify-content-center">
                                    <button type="button" class="btn btn-secondary mr-1">EDIT</button>
                                    <button type="button" class="btn btn-danger">DELETE</button>
                                </div>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>

        </div>
</div>

<script src="/assets/js/admin-flight.js"></script>

<%- include('../includes/footer') %>
