<%- include('../includes/header') %>
<%- include('../includes/navbar') %>
    <style>
    .card-horizontal {
    display: flex;
    flex: 1 1 auto;
    }
</style>

</head>

<div class="container mt-3" id="allHotel">
    <h1>Manage a Hotels</h1>
    <% for(var i = 0; i<hotel.length ; i++){%>
    <div class="row" id="hotel1">
        <div class="col-12 mt-3">
            <div class="card">
                <div class="card-horizontal">
                    <div class="img-square-wrapper">
                        <img class="" src="https://pix10.agoda.net/hotelImages/124/1246280/1246280_16061017110043391702.jpg?s=1024x768" alt="Card image cap" style="max-width: 300px; max-height: 180px;">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title"> <%= hotel[i].hotelName %> </h4>
                        <p class="card-text"> <%= hotel[i].hotelDescription %> </p>
                        <button class="btn btn-primary" data-toggle="collapse" data-target="#collapse<%=i%>" aria-expanded="true" aria-controls="collapse<%=i%>">
                                Show detail
                        </button>
                    </div>
                </div>
                <div id="collapse<%=i%>" class="collapse" aria-labelledby="heading1" data-parent="#allHotel">
                    <div class="card-body">
                        <form id="hotel-form-<%=hotel[i].hotelId%>" action="" method="post">
                            <div class="form-group">
                            <img src="https://www.brandcrowd.com/gallery/brands/pictures/picture15367687629749.jpg" class="mx-auto d-block" alt="" style="max-height: 400px; max-width: 400px;">
                            <h6><label>Address : </label><input type="text" class="form-control" name="hotelAddress" value="<%= hotel[i].hotelAddress %>"></h6>
                            <h6><label>Tel :  </label><input type="text" class="form-control" name="hotelTelNumber" value="<%=hotel[i].hotelTelNumber%>"></h6>
                            <h6><label>Email :  </label><input type="text" class="form-control" name="hotelEmail" value="<%=hotel[i].hotelEmail%>"></h6>
                            <input type="hidden" name="hotelId" value="<%=hotel[i].hotelId%>">
                            <button type="button" id="editButton<%=hotel[i].hotelId%>" name="EditButton" onclick="putRequest()" value="edit" class="btn btn-warning">edit</button>
                            <button type="button" name="DeleteButton" value="delete" class="btn btn-danger">Delete</button>
                        </div>
                        </form>
                        </div>                        
                        <br>
                </div>
            </div>
        </div>
    </div>
    <% }%>
    
</div>
<script>
    function putRequest(){
        console.log(this.event.target.form.id);
        console.log($('#'+this.event.target.form.id).serialize());
        let data = $('#'+this.event.target.form.id).serialize();
        let JsonData = JSON.stringify(data);
        console.log(JsonData);
        $.ajax({
            url: 'edit',
            type: 'PUT',
            data: data,
 });
    }
</script>
<script src="/assets/js/admin-hotel.js"></script>

<%- include('../includes/footer') %>
