<%- include('../includes/header') %>
</head>

<body>
<%- include('../includes/navbar') %>
<div class="container">
    <h1>Edit Profile</h1>
  	<hr>
	<div class="row">
      <!-- left column -->
      <div class="col-md-3">
        <div class="text-center">

          <% if( data.profile_picture){%>     
              <img src="<%= data.profile_picture %>" class="avatar img-circle img-thumbnail" alt=""> 
          <%}else{%>    
              <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
          <%}%>      
          
          <br><br>

        </div>
      </div>
      
      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        <h3>Personal info</h3>
        <form class="form-horizontal" role="form" method="post">
          <div class="form-group">
            <label class="col-lg-3 control-label">Level:</label>
            <div class="col-lg-8">
              <input type="number" class="form-control" placeholder="Level"name="level" id="level" value="<%= data.level%>" required>
            </div>
          </div>
        
          <div class="form-group">
            <label class="col-lg-3 control-label">First name:</label>
            <div class="col-lg-8">
              <input type="text" class="form-control" name="username" placeholder="Username"id="username" value="<%= data.username%>" required>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label">Last name:</label>
            <div class="col-lg-8">
              <input type="text" class="form-control" name="lastname"placeholder="Lastname" id="lastname" value="<%= data.lastname%>" required>
            </div>
          </div>
        
          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
              <input type="email" class="form-control" placeholder="Email"name="email" id="email" value="<%=data.email%>" required>
            </div>
          </div>
       
          <div class="form-group">
            <label class="col-md-3 control-label">Username:</label>
            <div class="col-md-8">
              <input type="text" class="form-control" name="username" placeholder="Username"id="username" value="<%= data.username%>" required>
            </div>
          </div>
     

          <button type="submit" class="btn btn-primary float-left">Edit</button>


        </form>
      </div>
  </div>
</div>
<hr>
<!-- 
<div class="container">
  <h1><%= pageTitle %></h1>
  <form class="add-player-form" action="" method="post">
        <div class="form-group col-md-4">
                <input type="number" class="form-control" placeholder="Level"name="level" id="level" value="<%= data.level%>" required>
            </div>
      <div class="form-group col-md-4">
          <input type="text" class="form-control" name="username" placeholder="Username"id="username" value="<%= data.username%>" required>
      </div>
      <div class="form-group col-md-4">
          <input type="text" class="form-control" name="firstname" placeholder="Firstname"id="firstname" value="<%= data.firstname%>" required>
      </div>
      <div class="form-group col-md-4">
          <input type="text" class="form-control" name="lastname"placeholder="Lastname" id="lastname" value="<%= data.lastname%>" required>
      </div>
      <div class="form-group col-md-4">
              <input type="email" class="form-control" placeholder="Email"name="email" id="email" value="<%=data.email%>" required> 
      </div>
      <div class="form-group col-md-4">
          <input type="tel" class="form-control" placeholder="Phone Number"name="phoneNumber" id="phoneNumber" value="<%= data.phoneNumber%>" required>
      </div>
      <div class="form-group col-md-4">
          <select id="gender" name="gender" class="form-control" value="<%= data.gender%>" required >
              <option selected><%=data.gender %></option>
              <option>M</option>
              <option>F</option>
          </select>
      </div>
          <!-- <div class="col-md-12">
              <label for="profile_picture"><b>Player Image</b></label><br>
              <input type="file" name="profile_picture" id="profile_picture" class="" required>
          </div> -->

          <!-- <button type="button" id="editButton<%=data.user_id%>" name="EditButton" onclick="putRequest()" value="edit" class="btn btn-warning">edit</button> -->
  </form>
</div>
<!-- <script>
    function putRequest(){
        let data = $('#'+this.event.target.form.id).serialize();
        let JsonData = JSON.stringify(data);

        $.ajax({
            url: '/edit',
            type: 'PUT',
            data: data,
        });
    }
</script> -->
</body>
</html> 