<%- include('../includes/header') %>
</head>

<body>
<%- include('../includes/navbar') %>

<style> 
    #myInput {
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 90%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }
    #myTable {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #ddd;
        font-size: 18px;
    }

    #myTable th, #myTable td {
        text-align: left;
        padding: 12px;
    }

    #myTable tr {
        border-bottom: 1px solid #ddd;
    }

    #myTable tr.header, #myTable tr:hover {
        background-color: #f1f1f1;
    }
    .profilepicture1{
        width:50px;
        height:50px;
    }   
    .punvp{
        color:#25282B;
        font-size: 18px; 
            }
    .userinfo{
        color:#52575C;
    }
</style>
    <div class="container-fluid">
        <h1 align="center"  id="title">User Management</h1>
        
            <div class="text-right">
                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for firstname" title="Type in a name">

                <a href="/register"><button class="btn btn-primary">Create user</button></a>
            </div>
            <br>
            <table  id="myTable" class="table">
                <thead>
                    <tr class="punvp" class="header">
                        <th scope="col">Profile Picture</th>
                        <th scope="col">Role</th> 
                        <th scope="col">Level</th> 
                        <th scope="col">Username</th>
                        <th scope="col">Firstname</th>
                        <th scope="col">Lastname</th>
                        <th scope="col">Gender</th>
                        <!-- <th scope="col">Birth_date</th> -->
                        <th scope="col">Email</th>
                        <th scope="col"></th>

                    </tr> 
                </thead>
                <tbody>
                    <% for(var i = 0; i <data.length;i++) { %>
                    <tr class="userinfo">
                        <td class="profilepicture1">
                            <% if( data[i].profile_picture){%>     
                                <img src="<%= data[i].profile_picture %>" width="50px" height="50px" class="rounded-circle user-img"  alt=""> 
                            <%}else{%>    
                            <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" width="50px" height="50px" class="rounded-circle"  alt="image">
                            <%}%>                                  
                        </td>
                        <td><%= data[i].Role %></td>
                        <td><%= data[i].Level %></td> 
                        <td><%= data[i].username %></td> 
                        <td><%= data[i].firstname %></td>
                        <td><%= data[i].lastname %></td> 
                        <td><%= data[i].gender %></td> 
                        <td><%= data[i].Email %></td>
                        <td>
                            <a href="/admin/user/edit/<%= data[i].user_id %>" rel="noopener" class="btn btn-sm btn-success">Edit</a>
                            <a href="/admin/user/delete/<%= data[i].user_id %>" class="btn btn-sm btn-danger">Delete</a>   
                            <a href="/admin/user/detail/<%= data[i].user_id %>" class="btn btn-sm btn-primary" >More Info</a> 
                        </td>
                        
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
    
<script>
        function myFunction() {
          var input, filter, table, tr, td, i, txtValue;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("myTable");
          tr = table.getElementsByTagName("tr");
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[4];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }       
          }
        }
        </script>
<%- include('../includes/footer') %>