<%- include("../includes/header") %>
<%- include("../includes/navbar") %>


<script src="../../assets/js/history/history.js"></script>


<!--This is custom CSS-->
<link rel="stylesheet" type="text/css" href="../../assets/css/history.css">
</head>

<body>
  <div class="row">
    <!--User Info side (left)-->
    <div class="col-sm-3 ta-user-info">
      <h4 class="user-name"><b id="userName">
          <%= userFirstname %> <%= userLastname %>
          <br>

        </b></h4>
      <hr class="hrColor">
      <div class="user-info">
        <div class="user-level">
          <b class="badge badge-level">Level: <span id="userLvl"><%= userLvl %></span></b>
        </div>
      </div>
    </div>

    <!--History Header side (right)-->
    <div class="col-sm-9 ta-user-history">

      <h1><b>History</b></h1>

      <div class="history-list">
        <button type="button" class="btn btn-info toDetail" data-toggle="collapse" data-target="#demo">
          <div>
            <h5><b><%= hotelArr[0].hotelName %></b></h5>
          </div>
          <div>
            <h6>
              <%= hotelArr[0].timestamp %>
            </h6>
          </div>
        </button>
      </div>
      <div id="demo" class="collapse">
        <table style="width: 50%">
          <tr>
            <th>Name-Lastname</th>
            <td><%= hotelArr[0].firstName %> <%= hotelArr[0].lastName %></td>
          </tr>
          <tr>
            <th>Hotel Name</th>
            <td><%= hotelArr[0].hotelName %></td>
          </tr>
          <tr>
            <th>Time Reserved</th>
            <td><%= hotelArr[0].timestamp %></td>
          </tr>
          <tr>
            <th>Check-In</th>
            <td><%= hotelArr[0].checkinDate %></td>
          </tr>
          <tr>
            <th>Check-Out</th>
            <td><%= hotelArr[0].checkoutDate %></td>
          </tr>
          <tr>
            <th>Hotel Address</th>
            <td><%= hotelArr[0].hotelAddress %></td>
          </tr>
          <tr>
            <th>Hotel Phone</th>
            <td><%= hotelArr[0].hotelTelNumber %></td>
          </tr>
        </table>
      </div>

    </div>
  </div>
  </div>



  <%- include("../includes/footer") %>
