<%- include("../includes/header") %>
<%- include("../includes/navbar") %>


<script src="../../assets/js/history/history.js"></script>

<script>

  var fromEJS_hotel = '<%- JSON.stringify(hotelArr) %>';
  var allRecord_hotel = JSON.parse(fromEJS_hotel);

  var fromEJS_flight = '<%- JSON.stringify(flightArr) %>';
  var allRecord_flight = JSON.parse(fromEJS_flight);

</script>


<!--This is custom CSS-->
<link rel="stylesheet" type="text/css" href="../../assets/css/history.css">
</head>

<body onload="loadPage()">
  <div class="row">
    <!--User Info side (left)-->
    <div class="col-sm-3 ta-user-info">
      <h4 class="user-name"><b id="userName">
          <%= userFirstname %> <%= userLastname %>
        </b></h4>
      <hr class="hrColor">
      <div class="user-info">
        <div class="user-level">
          <b class="badge badge-level">Level: <span id="userLvl"><%= userLvl %></span></b>
        </div>
      </div>
    </div>

    <!--History Header side (right)-->
    <div class="col-sm-9 ta-user-history">

      <h1><b>History</b></h1>

      <div class="history-list" id="histList">

        <!--This is header for each history-->
        
        <!--End of HTML List-->
      </div>
    </div>
    <div id="detailModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <!--Content-->
          <div class="modal-body" id="detailContent">
            <p>Your booking is canceled</p>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
     

  <%- include("../includes/footer") %>