<%- include("../includes/header") %>
<%- include("../includes/navbar") %>
<!-- <script>
  const hotelName = JSON.parse ('<%- hotelName %>');
</script> -->

<!--
<script src="../../assets/js/history/history.js"></script>-->

<!--This is custom CSS-->
<link rel="stylesheet" type="text/css" href="../../assets/css/history.css">
</head>
<script>

</script>

<body>

  <body>
    <div class="row">
      <!--User Info side (left)-->
      <div class="col-sm-3 ta-user-info">
        <h4 class="user-name"><b id="userName">
            <%= hotelName %>
          </b></h4>
        <hr class="hrColor">
        <div class="user-info">
          <div class="user-level">
            <b class="badge badge-level">Level: <span id="userLvl">30</span></b>
          </div>
          <div class="user-points">
            <span class="left badge badge-points-rank badge-points-rank">Points: <span id="userPoints">200</span></span>
            <span class="right badge-points-rank badge " id="userRank">Silver</span>
          </div>
        </div>
      </div>

      <!--History Header side (right)-->
      <div class="col-sm-9 ta-user-history">
        <h1><b>History</b></h1>
        <div class="history-list" id="histList">

          <!--This is header for each history-->
          <div class="history-item">
            <div class="headerInfo">
              <span class="brief-info">
                <div>
                  <h5><b><%= hotelName %>GG HTML</b></h5>
                </div>
                <div>
                  <h6>   </h6>
                </div>
              </span>
              <span class="status paid">
                Paid - Trip Upcoming
              </span>
              <span class="icon">
                <div class="book-icon">
                  <img src="../../assets/img/bed_icon.png" class="hotel">
                </div>
              </span>
              <span class="toDetail">
                <a href="hotel.ejs" style="vertical-align: middle;">
                  <button type="button" class="btn-link">View details</button>
                </a>
              </span>
            </div>
          </div>

          <div class="history-item">
            <div class="headerInfo">
              <span class="brief-info">
                <div>
                  <h5><b><%= airlineName %> - Economy Class (Show from HTML)</b></h5>
                </div>
                <div>
                  <h6>30-10-2019 | 2:00</h6>
                </div>
              </span>
              <span class="status paid">
                Paid - Trip Upcoming
              </span>
              <span class="icon">
                <div class="book-icon">
                  <img src="../../assets/img/plane_icon.png" class="flight">
                </div>
              </span>
              <span class="toDetail">
                <a href="/dashboard/history/flight">
                  <button type="button" class="btn-link">View details</button>
                </a>
              </span>
            </div>
          </div>
          <!--End of HTML List-->
        </div>
      </div>
      <div id="detailModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Booking details</h4>
            </div>
            <!--Content-->
            <div class="modal-body" id="detailContent">
              <p>Your booking is canceled</p>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    </div>
    <%- include("../includes/footer") %>